@media screen and (max-width: 360px) {

    #conteiner {
        width: 22.5rem;
        height: 297rem;
    }
    .logo__top {
        width: 8.4rem;
        font-size: 17px;
    }
    .conteiner__top {
        width: 22.25rem;
        height: 3.5rem;
        padding: 0px;
        justify-content: center;
        gap: 15px;

    }

    .link__top {
        display: none;
    }

    #link__top__email {
        color: #000;
        display: flex;
        column-gap: 2rem;
        background-color: #f5f5f5;
        text-decoration: none;
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
    }

    .conteiner__apresentacao {
        width: 20.5rem;
        height: 18.4rem;
        align-items: center;
        padding: 0px 16px 0px 16px;
        margin-top: 5.6rem;
        flex-direction: column-reverse;
    }

    .fotoPerfil {
        width: 6.13rem;
        height: 6.13rem;

    }

    .apresentacao__pessoal {
        width: 20.5rem;
        font-size: 22px;
        padding-bottom: 8px;
    }

    .apresentacao__pessoal__informativo {
        width: 20.5rem;
        font-size: 14px;
    }

    .conteiner__apresentacao__sobre__mim {
        width: 22.5rem;
        height: 21.9rem;
        padding: 0;
        margin: 0;
    }

    .sobre__mim__titulo {
        font-size: 22px;
        padding-left: 16px;
        
    }

    .sobre__mim__texto {
        width: 20.5rem;
        font-size: 14px;
        padding-left: 16px;
    }

    .titulo__skill__hobbies {
        font-size: 22px;
        font-weight: bold;
        padding: 16px;
    }

    .conteiner__skills__hobbies {
        width: 22.5rem;
        height: 63.5rem;
        align-items: center;
        padding: 0px 0px 16px 0px;
        margin-bottom: 0px;
    }

    .conteiner__skills {
        flex-grow: 1;
        gap: 16px;
        padding-left: 16px;
    }
    
    .conteiner__hobbies {
        flex-grow: 1;
        gap: 16px;
        padding-left: 16px;
    }

    .skills,
    .hobbies {
        width: 7.8rem;
        height: 5.4rem;
        padding: 16px;

    }


    .conteiner__formacao__academica {
        width: 22.5rem;
        height: 41.3rem;
        align-items: center;
        padding: 0px 0px 0px 0px;
        margin: 0px;
    }
    .titulo__formacao {
        padding-top: 16px;
        padding-bottom: 32px;
        font-size: 22px;
    }
    .imagem__formacao {
        width: 12.5rem;
        height: 7.4rem;
    }

    .conteiner__formacao {
        width: 18.5rem;
        height: 33.7rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .informacoes__cursos {
        display: flex;
        width: 18.5rem;
        flex-direction: column;
    }
    .cursos__feitos {
        width: 18.5rem;
        height: 8.1rem;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .titulo__experiencia {
        font-size: 22px;
        padding-top: 16px;
        padding-bottom: 30px;
    }

    .conteiner__experiencia__profissional {
        width: 22.5rem;
        height: 82.6rem;
        padding: 0px 0px 32px 0px;
    }

    .projetos__concluidos__1,
    .projetos__concluidos__3 {
        width: 22.5rem;
        height: 15.7rem;
        padding-bottom: 4rem;
        flex-direction: column-reverse;
        align-items: center;
    }

    .projetos__concluidos__2,
    .projetos__concluidos__4 {
        width: 22.5rem;
        height: 15.7rem;
        padding-bottom: 64px;
        flex-direction: column;
        align-items: center;
    }
    .descricao__projeto__link {
        display: flex;
        flex-direction: column;
        width: 18.5rem;
        align-items: center;
        justify-content: center;
    }
    .botao__projeto {
        display: flex;
        width: 18.5rem;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        padding-top: 10px;
    }

    .projetinhos__imagem {
        display: flex;
        width: 18.5rem;
        height: 9rem;
    }

    .conteiner__formulario {
        display: flex;
        flex-direction: column;
        width: 22.5rem;
        height: 48.5;
        padding-top: 32px;
    }

    .titulo__form {
        font-size: 22px;
    }

    .conteiner__formulario__contato {
        width:22.5rem;
        height: 46.2rem;
        padding: 0px 0px 32px 0px;

    }
    .campo__de__preenchimento, .btn__enviar {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
    }
    .formulario__input {
        width: 18.5rem;
        height: 3.5rem;
       
    }
    .descricao__form {
        padding-top: 32px;
        padding-left: 30px;
        padding-bottom: 22px;
    }
    .mensagem__texto {
        width: 18.5rem;
        height: 8.3rem;
    }

    .img__contato {
        display: none;
    }

    .titulo__footer {
        flex-direction: row;
        padding-top: 16px;
        font-size: 16px;
    }

    .conteiner__footer {
        width: 18.5rem;
        height: 5.2rem;
        padding: 0px;
       
    }

}
