@media screen and (max-width: 768px) {

    #conteiner {
        width: 48rem;
        height: 298rem;
    }

    .conteiner__top {
        width: 48rem;
        height: 3.3rem;
        padding: 0px;
        justify-content: center;
        gap: 150px;

    }

    .link__top {
        display: none;
    }

    #link__top__email {
        color: #000;
        display: flex;
        column-gap: 2rem;
        background-color: #f5f5f5;
        text-decoration: none;
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
    }

    /*atençao essa parte*/
    .conteiner__apresentacao {
        width: 44rem;
        height: 13.1rem;
        align-items: center;
        padding: 0px 32px 0px 32px;
        margin-top: 50px;
    }

    .fotoPerfil {
        width: 9.1rem;
        height: 9.1rem;

    }

    .apresentacao__pessoal {
        width: 32.7rem;
        font-size: 22px;
        padding-bottom: 8px;
    }

    .apresentacao__pessoal__informativo {
        width: 32.7rem;
        font-size: 16px;
    }

    .conteiner__apresentacao__sobre__mim {
        width: 48rem;
        height: 17.9rem;
        padding: 0;
        margin: 0;
    }

    .sobre__mim__titulo {
        font-size: 22px;
        padding-left: 32px;
        
    }

    .sobre__mim__texto {
        width: 44rem;
        font-size: 14px;
        padding-left: 32px;
    }

    .titulo__skill__hobbies {
        font-size: 22px;
        font-weight: bold;
        padding: 32px;
    }

    .conteiner__skills__hobbies {
        width: 48rem;
        height: 48.8rem;
        align-items: center;
        padding: 0px 0px 32px 0px;
    }

    .conteiner__skills {
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;
    }

    .conteiner__hobbies {
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;
    }

    .skills,
    .hobbies {
        width: 13rem;
        height: 7.4rem;
        padding: 16px;

    }

    .titulo__formacao {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 22px;
    }

    .titulo__secundario {
        font-size: 16px;
    }

    .subtitulo__paragrafo {
        font-size: 14px;
    }

    .informacoes__cursos {
        width: 48rem;
        flex-direction: row;
    }

    .conteiner__formacao__academica {
        width: 48rem;
        height: 18.2rem;
        align-items: center;
        padding: 0px 0px 32px 0px;
    }

    .conteiner__formacao {
        width: 44rem;
        height: 10.6rem;
        display: flex;
        gap: 16px;
    }

    .imagem__formacao {
        width: 11.9rem;
        height: 6.3rem;
        display: flex;
        border-radius: 20px;
    }

    .cursos__feitos {
        width: 14rem;
        height: 10.6rem;
        flex-direction: column;
        text-align: center;
    }

    .conteiner__experiencia__profissional {
        display: flex;
        width: 48rem;
        height: 126rem;
        padding: 0px 0px 32px 0px;
    }

    .projetos__concluidos__1,
    .projetos__concluidos__3 {
        display: flex;
        width: 48rem;
        height: 26.7rem;
        padding-bottom: 64px;
        flex-direction: column-reverse;
    }

    .projetos__concluidos__2,
    .projetos__concluidos__4 {
        display: flex;
        width: 48rem;
        height: 26.7rem;
        padding-bottom: 64px;
        flex-direction: column;
    }

    .projetinhos__imagem {
        display: flex;
        width: 48rem;
        height: 20rem;
    }

    .conteiner__formulario {
        display: flex;
        flex-direction: column;
        width: 48rem;
        height: 36rem;
    }

    .conteiner__formulario__contato {
        width: 48rem;
        height: 46.2rem;
        padding: 0px 0px 32px 0px;

    }

    .img__contato {
        display: none;
    }

    .titulo__footer {
        padding-top: 32px;
    }

    .conteiner__footer {
        width: 48rem;
        height: 6.4rem;
        padding: 0px;
       
    }


}
