@media screen and (max-width: 360px) {

    #conteiner {
        width: 100%;
        height: 100%;
    }
    .logo__top {
        width: 134px;
        font-size: 17px;
    }
    .conteiner__top {
        width: 356px;
        height: 56px;
        padding: 0px;
        justify-content: center;
        gap: 15px;

    }

    .link__top {
        display: none;
    }

    #link__top__email {
        color: #000;
        display: flex;
        column-gap: 2rem;
        background-color: #f5f5f5;
        text-decoration: none;
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
    }

    .conteiner__apresentacao {
        width: 328px;
        height: 294px;
        align-items: center;
        padding: 0px 16px 0px 16px;
        margin-top: 90px;
        flex-direction: column-reverse;
    }

    .fotoPerfil {
        width: 98px;
        height: 98px;

    }

    .apresentacao__pessoal {
        width: 328px;
        font-size: 22px;
        padding-bottom: 8px;
    }

    .apresentacao__pessoal__informativo {
        width: 328px;
        font-size: 14px;
    }

    .conteiner__apresentacao__sobre__mim {
        width: 100%;
        height: 350px;
        padding: 0;
        margin: 0;
    }

    .sobre__mim__titulo {
        font-size: 22px;
        padding-left: 16px;
        
    }

    .sobre__mim__texto {
        width: 328px;
        font-size: 14px;
        padding-left: 16px;
    }

    .titulo__skill__hobbies {
        font-size: 22px;
        font-weight: bold;
        padding: 16px;
    }

    .conteiner__skills__hobbies {
        width: 360px;
        height: 1016px;
        align-items: center;
        padding: 0px 0px 16px 0px;
        margin-bottom: 0px;
    }

    .conteiner__skills {
        flex-grow: 1;
        gap: 16px;
        padding-left: 16px;
    }
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .conteiner__hobbies {
        flex-grow: 1;
        gap: 16px;
        padding-left: 16px;
    }

    .skills,
    .hobbies {
        width: 124px;
        height: 86px;
        padding: 16px;

    }


    .conteiner__formacao__academica {
        width: 360px;
        height: 661px;
        align-items: center;
        padding: 0px 0px 0px 0px;
        margin: 0px;
    }
    .titulo__formacao {
        padding-top: 16px;
        padding-bottom: 32px;
        font-size: 22px;
    }
    .imagem__formacao {
        width: 200px;
        height: 118px;
    }

    .conteiner__formacao {
        width: 296px;
        height: 539px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .informacoes__cursos {
        display: flex;
        width: 296px;
        flex-direction: column;
    }
    .cursos__feitos {
        width: 296px;
        height: 130px;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .titulo__experiencia {
        font-size: 22px;
        padding-top: 16px;
        padding-bottom: 30px;
    }

    .conteiner__experiencia__profissional {
        width: 100%;
        height: 2017;
        padding: 0px 0px 32px 0px;
    }

    .projetos__concluidos__1,
    .projetos__concluidos__3 {
        width: 360px;
        height: 251px;
        padding-bottom: 64px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .projetos__concluidos__2,
    .projetos__concluidos__4 {
        width: 360px;
        height: 251px;
        padding-bottom: 64px;
        flex-direction: column;
        align-items: center;
    }
    .descricao__projeto__link {
        display: flex;
        flex-direction: column;
        width: 296px;
        align-items: center;
        justify-content: center;
    }
    .botao__projeto {
        display: flex;
        width: 296px;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        padding-top: 10px;
    }

    .projetinhos__imagem {
        display: flex;
        width: 296px;
        height: 144px;
    }

    .conteiner__formulario {
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 777px;
        padding-top: 32px;
    }

    .titulo__form {
        font-size: 22px;
    }

    .conteiner__formulario__contato {
        width:360px;
        height: 739px;
        padding: 0px 0px 32px 0px;

    }
    .campo__de__preenchimento, .btn__enviar {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
    }
    .formulario__input {
        width: 296px;
        height: 56px;
       
    }
    .descricao__form {
        padding-top: 32px;
        padding-left: 30px;
        padding-bottom: 22px;
    }
    .mensagem__texto {
        width: 296px;
        height: 133px;
    }

    .img__contato {
        display: none;
    }

    .titulo__footer {
        flex-direction: row;
        padding-top: 16px;
        font-size: 16px;
    }

    .conteiner__footer {
        width: 296px;
        height: 84px;
        padding: 0px;
       
    }

}